<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.ArticleDAO">
    <resultMap id="SelectMap" type="Article">
        <id property="articleId" column="article_id"></id>
        <result property="articleName" column="article_name"></result>
        <result property="guruId" column="guru_id"></result>
        <result property="articleIntroduction" column="article_introduction"></result>
        <result property="articleDate" column="article_date"></result>
    </resultMap>

    <insert id="insertArticle">
        insert into t_article values(#{articleId}, #{articleName}, #{guruId}, #{articleIntroduction}, #{articleDate},
        #{articlePicturePic})
    </insert>

    <select id="getTotalMesage" resultType="Integer">
        select count(*) from t_article
    </select>

    <select id="listArticle" resultMap="SelectMap" >
        select * from t_article
        <if test="articleId != null">
            where article_id = #{articleId}
        </if>
        limit #{begin},#{size}
    </select>
</mapper>
